
.hob_background{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 15px;
    border: 5px solid white;
    animation: appear 0.6s ease-in-out forwards;
}
.hob_background_element:nth-child(1){
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.hob_background_element:nth-child(2){
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.hob_child:nth-child(1){
    position: relative;
    width: auto;
    height: 100%;
    background-color: black;
    
    font-size: 1em;
}
.hob_child:nth-child(2){
    display: flex;
    width: auto;
    height: 100%;
    background-color: black;
}
.hob_child_element:nth-child(1){
    position: relative;
    cursor: pointer;
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 35px;
    column-gap: 35px;
    background-color: red;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: 0.1s ease-in-out linear;
}
.hob_child_elements{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.hob_child_element:nth-child(1):hover{
    opacity: 85%;
    #word1{
        z-index: 1;
    }
}
.hob_child_element:nth-child(2){
    position: relative;
    width: 100%;
    height: auto;
    background-color: red;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.flag{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gog{
    z-index: -1;
}
.hob_child_element:nth-child(2):hover {
    .gog{
        z-index: 1;
    }
    .flag{
        opacity:80%;
    }
    
}

.hob_first:nth-child(1){
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 1em;
}.hob_first:nth-child(2){
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 1em;
}
.hob_second_bottom:nth-child(1){
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 1.5vw;
    list-style-type: none;
    text-align: center;
}
.hob_second_bottom:nth-child(2){
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    list-style-type: none;
    text-align: center;
    font-size: 1.5vw;
}
.hob_second_bottom:nth-child(3){
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    list-style-type: none;
    text-align: center;
    font-size: 1.3vw;
}
