.detail_area{
    position: absolute;
    display: flex;
    left: 25vw;
    width: 75vw;
    height: 100vh;
    background-color: #000000;
    font-size: 72px;
    color: white;
    align-items: center;
    
}
.start{
    position: absolute;
    font-size: 30px;
    animation: name .75s linear forwards;
    left: 350px;
    opacity: 0;
}
@keyframes name {
    from{
        left: 240px;
    }
    to{
        left:225px;
        opacity: 100%;
    }
}