.skills_background{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    left: 25vw;
    width: 75vw;
    height: 100vh;
    background-color: #000000;
    color: white;
}
.skills_element_left{
    background-color: rgb(0, 0, 0);
}
.skills_element_center{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .left_card_area{
        background-color: rgb(0, 0, 0);
        padding: 25% 0;
        z-index: 2;
        
        .left_card{
            width: 300%;
            height: 100%;
            border-radius: 15px;
            background-color: rgb(4, 4, 3);
            transform: translate(-10.33%)scale(0.99);
            outline: 5px solid white;
            opacity: 0.5;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
            
        }.left_card > div{
            visibility: hidden;
        }.left_card:hover{
            opacity: 1;
        }
        .left_card_right_move{
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-10.33%);
            animation-name: left_right_move,tran;
            animation-duration:  1200ms,1200ms;
            animation-delay: 0ms,0ms;
            animation-timing-function: ease-in-out,ease-in-out;
            animation-iteration-count: 1,1;
            animation-fill-mode: forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }.left_card_right_move > div {
            visibility: hidden;
        }
        .left_card_left_move{
            
            width: 300%;
            height: 100%;
            background-color: rgb(3, 3, 3);
            transform: translate(-10.33%);
            animation-name: left_left_move,left_left_move2;
            animation-duration: 600ms,600ms;
            animation-delay: 0ms,600ms;
            animation-timing-function: ease-in-out,ease-in-out;
            animation-iteration-count: 1,1;
            animation-fill-mode: forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }.left_card_left_move > div{
            animation: appear 1200ms ease-in-out forwards;
        }
        
    }
    .center_card_area{
        
        background-color: rgb(0, 0, 0);
        padding: 15% 0;
        z-index: 3;
        
        .center_card{
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-33.33%)scale(0.99);
            border-radius: 15px;
            outline: 5px solid white;
            
        }
        .center_card_right_move{
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-33.33%);
            animation-name: center_right_move,center_right_move2,tran;
            animation-duration: 400ms, 800ms, 1200ms;
            animation-delay: 0ms,400ms,0ms;
            animation-timing-function: ease-in-out,ease-in-out,ease-in-out;
            animation-iteration-count: 1,1,1;
            animation-fill-mode: forwards,forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }
        .center_card_right_move > div{
            animation: disappear 1200ms ease-in-out forwards;
        }
        .center_card_left_move{
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-33.33%);
            animation-name: center_left_move,center_left_move2,tran;
            animation-duration: 400ms, 800ms,1200ms;
            animation-delay: 0ms,400ms,0ms;
            animation-timing-function: ease-in-out,ease-in-out,ease-in-out;
            animation-iteration-count: 1,1,1;
            animation-fill-mode: forwards,forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }
        .center_card_left_move > div{
            animation: disappear 1200ms ease-in-out forwards;
        }
    }
    .right_card_area{
        background-color: rgb(0, 0, 0);
        padding: 25% 0;
        z-index: 1;
        .right_card{
            opacity: 0.5;
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-56.33%)scale(0.99);
            border-radius: 15px;
            outline: 5px solid white;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
        }
        .right_card > div{
            visibility: hidden;
        }.right_card:hover{
            opacity: 1;
        }
        .right_card_right_move{
            width: 300%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transform: translate(-56.33%);
            animation-name: right_right_move,right_right_move2;
            animation-duration: 600ms,600ms;
            animation-delay: 0ms,600ms;
            animation-timing-function: ease-in-out,ease-in-out;
            animation-iteration-count: 1,1;
            animation-fill-mode: forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }
        .right_card_right_move > div{
            animation: appear 1200ms ease-in-out forwards;
        }
        .right_card_left_move{
            
            width: 300%;
            height: 100%;
            background-color: rgb(1, 1, 1);
            transform: translate(-56.33%);
            animation-name: right_left_move,tran;
            animation-duration: 1200ms,1200ms;
            animation-delay: 0ms,0ms;
            animation-timing-function: ease-in-out,ease-in-out;
            animation-iteration-count: 1,1;
            animation-fill-mode: forwards,forwards;
            border-radius: 15px;
            outline: 5px solid white;
        }.right_card_left_move > div{
            visibility: hidden;
        }
    }
}   
.skills_element_right{
    background-color: rgb(19, 23, 14);
}
@keyframes center_right_move{
    0%{
        transform: translate(-33.33%,0);
        height: 100%;
    }100%{
        transform: translate(-33.33%,5%);
        height: 90.98%;
    }
}
@keyframes center_right_move2 {
    0%{
        transform: translate(-33.33%,5%);
        height: 90.98%;
    }100%{
        transform: translate(-43.32%,5%);
        height: 90.98%;
    }
}
@keyframes right_right_move{
    0%{
        transform: translate(-56.33%,0);
        height: 100%;
        opacity: 0.5;
    }100%{
        transform: translate(-56.33%,-4%);
        height: 108%;
        opacity: 0.75;
    }
}
@keyframes right_right_move2 {
    0%{
        transform: translate(-56.33%,-4%);
        height: 108%;
        opacity: 0.75;
        
    }100%{
        transform: translate(-66.33%,-4%);
        height: 108%;
        opacity: 1;
    }
}
@keyframes left_right_move {
    0%{
        transform: translate(-10.33%);
        height: 100%;
        
    }100%{
        transform: translate(10%);
        height: 99.5%;
    }
}
@keyframes center_left_move{
    0%{
        transform: translate(-33.33%,0);
        height: 100%;
    }100%{
        transform: translate(-33.33%,5%);
        height: 90.98%;
    }
}
@keyframes center_left_move2 {
    0%{
        transform: translate(-33.33%,5%);
        height: 90.98%;
    }100%{
        transform: translate(-23.32%,5%);
        height: 90.98%;
    }
}
@keyframes right_left_move{
    0%{
        transform: translate(-56.33%);
        height: 100%;
        
    }100%{
        transform: translate(-76.33%);
        height: 99.5%;
    }
}
@keyframes left_left_move{
    0%{
        transform: translate(-10.33%,0);
        height: 100%;
        opacity: 0.5;
    }100%{
        transform: translate(-10.33%,-5%);
        height: 108%;
        opacity: 0.5;
    }
}
@keyframes left_left_move2 {
    0%{
        transform: translate(-10.33%,-4%);
        height: 108%;
        opacity: 0.75;
        
    }100%{
        transform: translate(0.33%,-4%);
        height: 108%;
        opacity: 1;
    }
}
@keyframes disappear {
    from{
        
    }to{
        opacity: 0;
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes tran {
    from{
       
    }to{
        opacity: 0.5;
    }
}